* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Nunito", sans-serif;
}

body {
    background-image: linear-gradient(to top, #EFEFFF 50%, #2A2951 100%);
}

.container-principal {
    max-width: 60rem;
    margin: 0 auto;
    height: 100vh;
    background-color: #EFEFFF;
}

.imc {
    max-width: 60rem;
    margin: 0 auto;
    padding: 14px 0 14px 40px;
    background: #2A2951
}
 .imc h1 {
     font-size: 2.4rem;
     color: #EFEFFF;
     text-transform: uppercase;
 }

 main { 
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 60rem;
    margin: 0 auto;
 }

 .info {
     padding: 30px 0 15px 40px;
     max-width: 25rem;
 }

 .info h2 {
     margin-bottom: 1.25rem;
     font-size: 1.9rem;
 }

 .info p {
     margin-bottom: 1.25rem;
     font-size: .9rem;
 }

 .container {
    max-width: 21rem;
    margin: 30px 40px 30px 60px;
    background-image: linear-gradient(to bottom, #2A2951, #635A8F); 
    padding: 30px;
    border-radius: 10px;
 }

 .container h2 {
     font-size: 1.6rem;
     color: #EFEFFF;
     padding-bottom: 10px;
     margin-bottom: 20px;
     text-transform: uppercase;
     border-bottom: 3px solid #EFEFFF;
 }

 .input {
    display: block;
 }

 input {
    width: 250px;
    height: 40px;
    margin: 10px;
    display: flex;
    font-size: 1rem;
    padding-left: 15px;
 }

 input:focus {
     outline: none;
 }

 .input label {
     color: #EFEFFF;
     font-weight: bold;
     text-transform: uppercase;
     font-size: .8rem;
     margin: 0 15px;
 }

 button {
     display: flex;
     align-items: center;
     justify-content: center;
     margin: 25px auto;
     width: 150px;
     height: 40px;
     border: none;
     border-radius: 3px;
     background-color: #322963;
     color: #EFEFFF;
     font-size: .9rem;
     text-transform: uppercase;
     font-weight: bold;
     cursor: pointer;
 }

 button:hover {
    background-color: #2A2951;
 }

 button:focus {
    outline: none;
 }

 .resultado {
     display: flex;
     justify-content: center;
     align-items: center;
     padding-top: 25px;
     color: #EFEFFF;
     border-top: 3px solid #EFEFFF;
     font-weight: bold;
 }


 @media (max-width: 960px) {

    .imc h1 {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .info {
         margin-right: 35px;
     }
 }

 @media (max-width: 700px) {
    main {
        display: block;
    }

    .imc {
        padding-right: 40px;
    }

    .imc h1 {
        font-size: 1.8rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .info {
        max-width: 40rem;
    }

    .container {
        margin: 0 auto;
    }

    .container-principal {
        max-width: 100%;
        height: 100%;
    }
 }